.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.trail-card {
  text-align: left;
  margin: 8px;
  width: 20rem;
  height: 20rem;
  display: inline-block;
  font-size: 14px;
  color: rgb(27, 49, 15);
}

p {
  margin: 0px;
  padding: 0px;
  font-family: Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  margin: 0px;
}

.card-container {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  justify-content: center;
}

#star {
  color: rgb(44, 214, 44);
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#navbar {
  display: flex;
  padding-left: 15px;
  border-bottom: 1px solid grey;
  height: 60px;
  align-items: center;
  object-fit: contain;
  overflow: hidden
}

.nav-btn {
  cursor: pointer;
  font-weight: bolder;
  border: 0px black solid;
  background-color: transparent;
  color: rgb(27, 49, 15);
  padding: 7px;
  margin: 7px;
}


input {
  width: 100%;
  padding: 3px;
  margin: 5px;
  box-sizing: border-box;
  display: inline-block;
}

form {
  padding: 10px;
  width: 200px;
  color: rgb(27, 49, 15);
}

.login-btn {
  background-color: white;
  border-radius: 7.5px;
  border-width: 0.5px;
  cursor: pointer;
}

#header-photo{
  width: 100%;
  height: 320px;
  border-radius: 0px;
}

#trail-header-photo{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 800px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
}

.header-container {
  position: relative;
  text-align: center;
  color: white;
}

.header-text {
  font-size: 50px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trail-header-text {
  font-size: 50px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grey {
  color: grey
}

.errors {
  color: red;
}

.trail-details-container {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 800px;
  padding: 10px;
}

span.detail {
  margin: 20px;
  padding: 10px;
}

.reviews {
  margin-left: 50px;
  margin-right: 60px;
  width: 800px;
  padding: 10px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-right: 20px;
}

.logo-img {
  width: 30px;
  height: auto;
  margin-right: 5px;
}

.profile-photo {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.underline {
  text-decoration: underline;
  font-style: normal;
  cursor: pointer;
  display: inline;
  margin: 5px;
}

.review-edit-form {
  width: 500px;
}

.review-text-box{
  height: 300px;
  width: 500px;
}

.green-btn {
  border-radius: 30px;
  width: 130px;
  height: 50px;
  background-color: darkgreen;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.green-btn:hover {
  background-color:rgb(23, 71, 23);
  transition-duration: 0.5s;
}

.split {
  font-weight: bold;
}

.nav-btn-split {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  font-size: 16px;
  color: rgb(27, 49, 15);
  margin-left: 8px;
  cursor: pointer;
  padding-top: 2px;
}

.trail-page-container {
  text-align: center;
  position: relative;
}

.coordinates {
  margin: 15px;
}

.user-thumbnail {
  width: 50px;
  height: 50px;
}

.profile-container {
  margin-top: 20px;
  width: 600px;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-bottom: 0px;
}

.select {
  width: 100%;
  margin-bottom: 10px;
}

.review-thumbnail {
  width: 100px;
  height: auto;
}

.review-title {
  margin: 5px;
}

.wrapper {
  margin: 5px;
}

.a {
  color: #282c34;
}

