.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.trail-card {
  text-align: left;
  margin: 8px;
  width: 20rem;
  height: 20rem;
  display: inline-block;
  font-size: 14px;
  color: rgb(27, 49, 15);
}

p {
  margin: 0px;
  padding: 0px;
  font-family: Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  margin: 0px;
}

.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#star {
  color: rgb(44, 214, 44);
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

nav {
  display: flex;
  padding: 10px;
}

.nav-btn {
  cursor: pointer;
  font-weight: bolder;
  border: 0px;
  background-color: transparent;
  color: rgb(27, 49, 15);
  padding: 10px;
  margin: 10px;
}


input {
  width: 100%;
  padding: 3px;
  margin: 5px;
  box-sizing: border-box;
  display: inline-block;
}

form {
  padding: 10px;
  width: 200px;
  color: rgb(27, 49, 15);
}

.login-btn {
  background-color: white;
  border-radius: 7.5px;
  border-width: 0.5px;
  cursor: pointer;
}

#header-photo{
  width: 100%;
  height: 320px;
  border-radius: 0px;
  object-fit: cover;
}

#trail-header-photo{
  width: 90%;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
}

.header-container {
  position: relative;
  text-align: center;
  color: white;
}

.header-text {
  font-size: 50px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trail-header-text {
  font-size: 50px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grey {
  color: grey
}

.errors {
  color: red;
}




