@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  font-family: 'Manrope', sans-serif;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.trail-card {
  text-align: left;
  margin: 8px;
  width: 20rem;
  height: 20rem;
  display: inline-block;
  font-size: 14px;
  color: rgb(27, 49, 15);
}

p {
  margin: 0px;
  padding: 0px;
  font-family: Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  margin: 0px;
}

.card-container {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  justify-content: center;
}

#star {
  color: rgb(44, 214, 44);
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

#navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
}

.logo {
  padding-right: 10px;
}

.logo-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0 10px;
}

.nav-btn {
  cursor: pointer;
  font-weight: bolder;
  border: 0px black solid;
  background-color: transparent;
  color: rgb(27, 49, 15);
  padding: 4px 10px;
}


input {
  font-family: 'Manrope', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3px;
  margin: 5px;
}

textarea {
  font-family: 'Manrope', sans-serif;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: rgb(27, 49, 15);
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-btn {
  background: rgba(0, 81, 255, 0.77);
  color: white;
  padding: 5px;
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 7.5px;
  cursor: pointer;
  height: auto;
  box-shadow: 1.5px 1.5px 1px rgb(173, 190, 195);
}

.login-btn:visited {
  color: white;
}

#header-photo{
  width: 100%;
  height: 320px;
  border-radius: 0px;
}

#trail-header-photo{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 800px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
}

.header-container {
  position: relative;
  text-align: center;
  color: white;
}

.header-text {
  font-size: 50px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trail-header-text {
  font-size: 50px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grey {
  color: grey
}

.errors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  color: red;
}

span.detail {
  padding: 20px;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  text-wrap: wrap;
}

.review h4 {
  margin: 0px;
  padding: 2px;
}

.profile-photo {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.review-edit-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.review-text-box{
  height: 300px;
  width: 500px;
}

.green-btn {
  border-radius: 30px;
  width: 130px;
  height: 50px;
  background-color: darkgreen;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.green-btn:hover {
  background-color:rgb(23, 71, 23);
  transition-duration: 0.5s;
}

.trail-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.trail-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  border: 1px solid black;
  padding: 10px;
}

.trail-page-container p {
  display: flex;
  justify-content: center;
}

.trail-page-container h4 {
  display: flex;
  justify-content: center;
}

.trail-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
}


.coordinates {
  margin: 15px;
}

.user-thumbnail {
  width: 50px;
  height: 50px;
}

.profile-container {
  margin-top: 20px;
  width: 600px;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.border-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  padding-bottom: 0px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.select {
  width: 100%;
  margin-bottom: 10px;
}

.review-thumbnail {
  width: 100px;
  height: auto;
}

.review-title {
  margin: 5px;
}

.wrapper {
  min-height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.a {
  color: #282c34;
}

iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}

.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-row p{
  padding: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.twelvepx {
  font-size: 12px;
  margin: 2px;
}
